---
import Layout from '../layouts/Blog.astro'
import aboutImage from '../assets/galery/1.jpg'
---

<Layout
  name="about-us"
  title="Tentang Kami"
  description="Tentang Nerscoff Coffee"
  image={aboutImage}
>
  <p>
    Nerscoff merupakan brand kopi yang lahir dari kecintaan sang pemilik terhadap dunia kesehatan
    dan kopi. Berasal dari latar belakang pendidikan sebagai Sarjana Keperawatan (S1 Perawat) dan
    didorong oleh kegemarannya yang mendalam terhadap kopi. Pada pertengahan tahun 2024, ia
    memutuskan untuk mulai merintis usaha mandiri tanpa mitra namun tetap berkecimpung di dunia
    medis.
  </p>

  <p>
    Langkah awal bisnisnya dimulai dengan menjual green bean (biji kopi mentah). Namun, berbekal
    rasa ingin tahu dan komitmen untuk memberikan kualitas terbaik membawanya untuk terus belajar
    mendalami dunia kopi: mulai dari proses fermentasi, penyangraian (roasting), hingga mengenali
    karakteristik biji kopi dari berbagai daerah.
  </p>

  <p>
    Pada bulan Januari 2025, Nerscoff mulai berekspansi ke produk olahan kopi. Tak lagi sebatas
    menjual green bean dan roasted bean, tetapi merambah ke produk jadi yang siap dinikmati oleh
    konsumen. Di momen ini, sang pemilik juga mulai melakukan riset dan eksperimen resep. Dengan
    kondisi kesehatan pribadi (memiliki riwayat asam lambung), ia bertekad menciptakan kopi yang
    tetap nikmat tapi ramah di lambung dan bukan sekadar kopi susu biasa, namun minuman kopi yang
    tetap berkualitas dan nyaman dikonsumsi setiap hari.
  </p>

  <p>
    Tiga hal menjadi prinsip utama Nerscoff dalam meracik kopi: Pemilihan biji kopi berkualitas
    Teknik roasting yang tepat Penyeduhan yang sesuai karakter kopi Nerscoff mengandalkan biji kopi
    yang diambil langsung dari petani, terutama dari kawasan Ijen, Banyuwangi. Daerah tersebut
    merupakan daerah yang dikenal menghasilkan biji kopi berkualitas tinggi. Beberapa biji kopi juga
    didatangkan dari luar Jawa seperti Aceh, Toraja, Sumatera, dan Sulawesi, namun jumlahnya
    terbatas. Fokus utama tetap pada kopi petik merah yang menjadi penentu grade dan kualitas saat
    diolah. Saat momen Lebaran 2025, Nerscoff meluncurkan produk hampers berupa kopi susu dalam
    kemasan kopi saku dengan berbagai varian rasa yang bisa dipesan dan dikirim ke luar kota melalui
    layanan kurir dan ojek online. Nerscoff menyediakan berbagai jenis kopi yang bisa dipilih sesuai
    kebutuhan, baik untuk dinikmati di tempat maupun dibawa ke mana saja. Tersedia dalam kemasan
    cup, botol 1 liter, 500 ml, hingga kopi saku yang praktis.
  </p>

  <p class="!mb-0">
    Untuk varian cup, pelanggan bisa menikmati beberapa pilihan seperti:
    <ul class="!mt-0">
      <li class="!m-0">Kopi Filter Ijen</li>
      <li class="!m-0">Kopi Filter Guest Bean</li>
      <li class="!m-0">Kopi Tubruk Cangkir</li>
      <li class="!m-0">Kopi Susu Gula Aren</li>
      <li class="!m-0">Americano</li>
      <li class="!m-0">Espresso</li>
    </ul>
  </p>

  <p class="!mb-0">
    Kalau suka kopi botol, ada juga varian rasa dengan nama unik:
    <ul class="!mt-0">
      <li class="!m-0">Heart: Kopi Susu Hazelnut</li>
      <li class="!m-0">The Lungs: Butterscotch</li>
      <li class="!m-0">Vaskular: Kopi Susu Vanila</li>
      <li class="!m-0">Brainwash: Kopi Susu Strong</li>
      <li class="!m-0">Anatomi: Kopi Susu Gula Aren</li>
    </ul>
  </p>

  <p class="!mb-0">
    Selain kopi siap minum, Nerscoff juga menyediakan biji kopi dan coffee drip dengan banyak
    pilihan, seperti:
    <ul class="!mt-0">
      <li class="!m-0">Semendo (Arabika Classic Natural)</li>
      <li class="!m-0">Moscular System (Robusta Gold)</li>
      <li class="!m-0">Circulatory System (House Blend 60:40)</li>
      <li class="!m-0">Gn. Buthak (Arabika Natural Anaerob 72 jam)</li>
      <li class="!m-0">Manglayang (Arabika Natural Anaerob 48 jam</li>
      <li class="!m-0">Kayumas (Arabika Classic Full Wash)</li>
      <li class="!m-0">Puntang (Arabika Classic Full Wash)</li>
      <li class="!m-0">Kamojang (Arabika Natural Anaerob 72 jam)</li>
      <li class="!m-0">Kintamani (Arabika Natural Classic)</li>
    </ul>
  </p>

  <p>
    Untuk pemasaran, Nerscoff saat ini menerapkan pendekatan yang realistis. Target pasar dijangkau
    secara menyeluruh, mulai dari konsumen bawah hingga menengah-atas. Untuk segmen pasar menengah
    ke bawah, Nerscoff menyediakan roasted bean yang kerap digunakan oleh penjual kopi di pinggir
    jalan. Sementara itu, untuk kalangan atas atau pelaku usaha kopi skala lebih besar, Nerscoff
    menawarkan green bean berkualitas tinggi. Setiap produk yang ditawarkan selalu disesuaikan
    dengan kebutuhan dan preferensi target pasarnya agar tepat sasaran dan bernilai guna maksimal.
    Meski saat ini masih beroperasi dari rumah yang disulap menjadi kedai sederhana, Nerscoff
    berpegang pada prinsip utama yaitu menyajikan minuman kopi yang enak, sehat, dan berkualitas.
  </p>
</Layout>
